<!-- /. ui case 模块  循环 展示case信息--开始  -->
{% for key,value in ui_case_list.items %}
    <div class="panel-heading">
        <h4 class="panel-title">
             <a data-toggle="collapse" data-parent="#accordion" href="#ui_{{ key }}" class="collapsed">  {{ key }}</a>
        </h4>
    </div>
    <div id="ui_{{  key }}" class="panel-collapse collapse" style="height: 0px;">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>module_name</th>
                    <th>case_name</th>
                     <th>revise_case</th>
                     <th>source_file</th>
                    <th>delete</th>
                </tr>
                    {% for x in value %}
                        <tr>
                             <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" >{{ x.id }}</td>
                             <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" >{{ x.module_name }}</td>
                             <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" >{{ x.case_name }}</td>
                             <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" ><button  class="btn btn-default btn-sm look_uicase" data-toggle="modal"  name="from_id_get_ui_data"  data-target="#add_ui_case" value="{{ x.id }}"  >revise</button></td>
                             <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" ><button type="submit"   class="btn btn-default btn-sm source_ui"  name="source_file_id"    data-toggle="modal" data-target="#source_file_modal"  value="{{ x.id }}"  >source</button> </td>
                             <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;" > <button type="submit"   class="btn btn-danger btn-sm delete"  name="delete_ui_id"    value=" { 'id' :{{ x.id }}  ,'case_type':'ui'} "  >delete</button> </td>
                        </tr>
                    {% endfor %}
            </thead>
        </table>
     </div>
{% endfor %}
<!-- /. api case 模块  循环 展示case信息--结束  -->

<!-- /. api_case 模块 添加case-- 开始  -->
<div class="form-group">
     <td>
        <center><button class="btn btn-success" data-toggle="modal" data-target="#add_ui_case">
        ui case
        </button></center>
     </td>
    <div class="modal fade" id="add_ui_case" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                {{ get_ui_case_form }}
                 <input class="form-control ui_case"  value="{{ csrf_token }}"  name="csrfmiddlewaretoken" type="hidden"   >
                 <div class="modal-footer">
                     <button type="submit"  id="add_ui_case_butt" class="btn btn-default"  name="add_ui_case"  value="now_add_ui_case"  >添加case</button>
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
            </div>
        </div>
    </div>
</div>
<!-- /. api_case 模块 添加case-- 结束  -->


<!-- /. 开始时自动填充  project_name  开始 -->
<script>
    $(document).ready(function(){
     $("#ui_project_name").val('{{ the_project_name }}');
    });
</script>
<!-- /. 开始时自动填充  project_name   结束 -->

<!-- /. AJAX  查看case的文件 开始 -->
<script>
    $(document).ready(function(){
     $('.btn-sm.source_ui').click(function(){
        var   source_id=$(this).val();
        $.post("{% url 'source_case_file' %}", {'csrfmiddlewaretoken': '{{ csrf_token }}' ,'source_id':source_id,'source_type':'ui'}, function(data){
            $("#case_data").val(data['case_code']);
            $("#updata_api_case").val(data['case_path'])
        });
      });
    });
</script>
<!-- /. AJAX  查看case的文件 结束 -->



<!-- /. 点击 查看 获取case的数据 开始  -->
<script>
    $(document).ready(function(){
     $('.btn-sm.look_uicase').click(function(){
        var case_id =$(this).val();
        $.post("{% url 'get_ui_case_data_api' %}", {'csrfmiddlewaretoken': '{{ csrf_token }}' ,'id':case_id}, function(data){
            $("#ui_case_id").val(data['case_id']);
            $("#ui_project_name").val(data['project_name']);
            $("#ui_module_name").val(data['module_name']);
            $("#ui_case_name").val(data['case_name']);
            $("#ui_case_address").val(data['case_address']);
            $("#ui_App_version").val(data['App_version']);
            $("#my_case_of_text_id").val(data['my_case_of_text_id']);
        });
      });
    });
</script>
<!-- /. 点击 查看 获取case的数据 结束  -->




  <!-- /. 点击 添加 case  提交case数据 开始  -->
<script>

    $(document).ready(function(){
     $('#add_ui_case_butt').click(function(){
        var   source_id=$(".form-control.ui_case").serialize();
        $.post("{% url 'save_ui_case_api' %}", source_id , function(data){
            $("#add_ui_case").hide();
            $(".modal-backdrop").remove();
            $("body").removeClass('modal-open');
            var the_project_name =  '{{ the_project_name }}';
            $.post("{% url 'my_project_ui_case' %}", {'csrfmiddlewaretoken': '{{ csrf_token }}' ,'the_project_name':the_project_name}, function(data){
            $('#ui_case_module').html(data);
             });
        });
      });
    });
</script>
  <!-- /. 点击 添加 case  提交case数据 开始  -->




<!-- /. AJAX 获取 删除 ui case 的 id 和 case_type  开始 -->
<script>
    $(document).ready(function(){
     $('.btn-sm.delete').click(function(){
        var delete_case_data =$(this).val();
        $.post("{% url 'delete_case_api' %}", {'csrfmiddlewaretoken': '{{ csrf_token }}' ,'delete_case_data':delete_case_data}, function(data){
            $('#ui_case_module').html('   ');
            var the_project_name =  '{{ the_project_name }}';
            $.post("{% url 'my_project_ui_case' %}", {'csrfmiddlewaretoken': '{{ csrf_token }}' ,'the_project_name':the_project_name}, function(data){
            $('#ui_case_module').html(data);
             });
        });
      });
    });
</script>
<!-- /. AJAX 获取 删除 api case 的 id 和 case_type  结束 -->



  <!-- /. 点击 添加 case  提交case数据 开始  -->
<script>

    $(document).ready(function(){
     $('#add_ui_case_butt').click(function(){
        var   source_id=$(".form-control.ui_case").serialize();
        $.post("{% url 'save_ui_case_api' %}", source_id , function(data){
            $("#add_ui_case").hide();
            $(".modal-backdrop").remove();
            $("body").removeClass('modal-open');
            var the_project_name =  '{{ the_project_name }}';
            $.post("{% url 'my_project_ui_case' %}", {'csrfmiddlewaretoken': '{{ csrf_token }}' ,'the_project_name':the_project_name}, function(data){
            $('#ui_case_module').html(data);
             });
        });
      });
    });
</script>
  <!-- /. 点击 添加 case  提交case数据 开始